.posts{
    padding: 0 0 2rem 0;
    iframe{
        width: 100%;
    }
    .filter-menu{
        margin-bottom: 2rem;
        li{
            padding: 0 2rem;
            &.active, &:hover{
                span{
                    background-color: #000;
                    color: #FFF;
                }
            }
        }
        span{
            padding: 0 1rem;
            border: 1px solid #000;
            color: #000;
            background-color: #FFF;
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: all 0.5s ease;
        }
    }
    .mozaic{
        display: flex;
        flex-flow: column wrap;
        //max-height: 800px;
        height: 100vw;
        overflow: hidden;
    }
    .img-group{
        border: 1px solid grey;
        flex: 0 0 auto;
        //display: inline-flex;     
        > div{
            position: relative;
        }
        img{
            width: 100%;
            background-size: cover;
        }
        caption{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #FFF;
            background: rgba(120, 171, 70, 0.8);
            padding: 1rem;
            opacity: 0;
            transition: opacity 0.5s ease-in;
            > div{
                text-align: center;
                width: 100%;
                @include vertical-align(relative);
                p{
                    margin-bottom: 0.5rem;
                }
                .button{
                    margin-top: 1rem;
                }
            }
            
        }
        &:hover{
            caption{
                opacity: 1;
            }
        }
    }
}
.post{
    .project-info{
        border: 1px dashed #000;
        padding: 1rem;
        margin-bottom: 1rem;
        li{
            margin-right: 0.5rem;
        }
    }
    .tags-list{
        margin-top: 0.5rem;
        li{
            background: #FFF;
            color: #000;
            padding: 0.3rem 0.5rem;
            margin-right: 1rem;
            &:last-child{
                margin-right: 0;
            }

        }
    }
}